div.a {text-align: center;}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
@media screen {
  .column1 {
    flex: 25%;
    width: 25%;
  }
}
@media screen and (max-width: 992px) {
  .column1 {
    flex: 100%;
    width: 100%;
  }
}
@media screen {
  .column2 {
    flex: 33%;
    width: 33%;
  }
}
@media screen and (max-width: 992px) {
  .column2 {
    flex: 100%;
    width: 100%;
  }
}
a:link {
    color: black;
}
  /* visited link */
a:visited {
    color: black;
}
  /* mouse over link */
a:hover {
    color: black;
}
  /* selected link */
a:active {
    color: black;
}

/* Set the background color of body to tan */
body {
  background-color: tan;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  body {
    background-color: blue;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  body {
    background-color: olive;
  }
}