div.a {
    text-align: center;
}
.column {
    float: left;
    width: 50%;
  }  
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  .sp22 {
    float: left;
    width: 33%;
  }  
  .full {
    float: left;
    width: 100%;
  }  

  a:link {
    color: black;
  }
  /* visited link */
  a:visited {
    color: black;
  }
  /* mouse over link */
  a:hover {
    color: black;
  }
  /* selected link */
  a:active {
    color: black;
  }
 