
body,html{
    height: 100%;
    margin: 0;
    background-image: url("../images/Sequence\ 02_Final.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
